/* FONTS */
@font-face {
    font-family: "Roboto";
    src: url("/Fonts/Roboto-Bold.woff2") format("woff2"),
        url("/Fonts/Roboto-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("/Fonts/Roboto-Regular.woff2") format("woff2"),
        url("/Fonts/Roboto-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* GLOBAL */
html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100%;
    font-family: "Roboto";
    background-color: #de8a89;
    color: #222;
}

img {
    max-height: 100%;
    height: auto;
}

/* CONTAINER */
.container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
}


/* HEADER */
.site-header {
    margin-bottom: 40px;
}
.site-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 24px;
}
.site-item {
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
}
.site-item__link {
    text-decoration: none;
    color: #ECB9B8;
}
.first-item__text, .first-item {
    color: #FFFDFC;
}

/* BOX */
.future {
}
.future-container {
    display: flex;
    align-items: center;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    height: 250px;
}
.box-1 {
    position: relative;
    background-color: #3E3C3D;
}
.box-title {
    font-size: 18px;
    color: #CE837A;
    margin-bottom: 8px;
    padding-left: 50px;
}
.box-text {
    font-weight: bold;
    font-size: 25px;
    color: #FFFDFC;
    padding-left: 50px;
}
.box-2 {
    background-color: #353334;
}
.box-3 {
    position: relative;
    background-color: #201E1F;
}
.box-1-wrapper {
    position: absolute;
    display: block;
    right: 100%;
    top: 0;
}
.box-1-wrapper:hover .box-1__abc {
    background-color: #FFFDFC;
    opacity: 0.7;
}
.box-1__abc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #ECB9B8;
}
.box-3-wrapper {
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
}
.box-3-wrapper:hover .box-3__abc {
    background-color: #FFFDFC;
    opacity: 0.7;
}
.box-3__abc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #ECB9B8;
}
.triangle-left {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #855352;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #855352;
}
.box-1__link {
    position: absolute;
    bottom: -25px;
    left: 18px;
    display: block;
    font-size: 18px;
    text-align: center;
    padding: 15px 80px;
    background-color: #131313;
    text-decoration: none;
    color: #FFFDFC;
    text-transform: uppercase;
    border-radius: 4px;
}
.box-1__link:hover {
    bottom: -20px;
}
.box-wrapper {
    display: block;
}